* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "SourceHanSansCN-Regular", "NotoSansHans-Regular", "Avenir", Helvetica, Arial, sans-serif;
}

html,
body {
  min-width: 1200px;
  background-color: #fff;
}
