* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

html,
body {
  min-width: 1200px;
  background-color: #fff;
}
a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}
a:hover,a:focus,a:active{
  color: rgba(255,255,255,0.75);
}
.popover-enter-active, .popover-leave-active {
  transition: all .5s;
}
.popover-enter, .popover-leave-to{
  opacity: 0;
  transform: scale(0.5) translateX(50%);
}